{% extends "::base.html.twig"%}

{% block stylesheets %}        
        <link rel="stylesheet"
            href="{{ asset('/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">         

		<link rel="stylesheet"
            href="{{ asset('/css/login.css') }}">                     

{% endblock %}

{% block navigation %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me 
                    </label>
                </div>
                <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Sign In</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot password ?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->

{% endblock %}
